# =============================
# General
# =============================
node_modules/
dist/
.env
*.sqlite
*.sqlite3
*.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =============================
# Flutter
# =============================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
coverage/

# Android
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/local.properties
*.jks

# iOS
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Flutter/ephemeral
**/ios/Flutter/flutter_assets/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/App.framework

# macOS
**/macos/Flutter/ephemeral
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/Pods/

# Windows
**/windows/flutter/generated_plugin_registrant.*

# Linux
**/linux/flutter/generated_plugin_registrant.*

# =============================
# TypeScript
# =============================
*.tsbuildinfo

# =============================
# Logs
# =============================
*.log

# =============================
# VS Code
# =============================
.vscode/

# =============================
# OS
# =============================
.DS_Store
Thumbs.db